* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Assistant, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
}

#logo {
    width: 100%;
    height: 75px;
    display: flex;
}

.leftHeader {
    width: 58%;
    height: 100%;
    display: flex;
}

.rightHeader {
    width: 42%;
    height: 100%;
    display: flex;
    justify-content: space-around;
}

.logoImage {
    width: 18%;
    height: 100%;
}

.menubar {
    width: 62%;
    height: 100%;
    /* border: 2px solid yellow; */
    display: flex;
    justify-content: space-between;
}

.imageSizeView {
    padding-left: 18%;
    padding-top: 6%;
}

.menubar>div {
    height: 100%;
    font-size: 12px;
    color: #424656;
    padding-top: 6%;
}

.searchbar {
    width: 60%;
    display: flex;
    height: 50%;
    margin-top: 3%;
    border: 1px solid grey;

}

.inputSize {
    width: 100%;
    border: none;
}

.iconSearch {
    margin-left: 2%;
    margin-top: 2%;
    margin-right: 2%;
}

.profile {
    width: 10%;
    height: 100%;
    margin-top: 4%;

}

.iconMargin {
    margin-left: 13%;
}

.wishlist {
    width: 10%;
    height: 100%;
    margin-top: 4%;
}

.cart {
    width: 10%;
    height: 100%;
    margin-top: 4%;
}

.fontSize {
    font-size: 12px;
}

.slideImage>img {
    width: 100%;
}

.headingStyling {
    letter-spacing: 2px;
    margin: 4%;
    font-size: 30px;
    color: #424656;
}

.imageFlex {
    width: 100%;
    display: flex;
}

.imageFlex>div>img {
    height: 253px;
}

.myntraExclusiveBrands {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.myntraExclusiveBrands>div {
    width: 12%;
}

.myntraExclusiveBrands>div>img {
    height: 217px;
}

.topPicks {
    width: 100%;
    display: flex;
}

.topPicks>div>img {
    height: 236px;
}

.categoryBag {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    color: #f6f6f6;
}

.categoryBag>div>img {
    height: 209px;
}


.topBrandsDeal {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.topBrandsDeal>div>img {
    height: 274px;
}

.slashedPrices {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.slashedPrices>div>img {
    height: 224px;
}

.bestBuys {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.bestBuys>div {
    width: 12%;
}

.bestBuys>div>img {
    height: 203px;
}

.myntraLuxe {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.myntraLuxe>div>img {
    height: 221px;
}

.giftCard {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.giftCard>div> {
    width: 25%;
}

.giftCard>div>img {
    height: 295px;
}

.kidsWear {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.kidsWear>div>img {
    height: 250px;
}

.newTopBrand {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.newTopBrand>div>img {
    height: 218px;
}

.newnessOccasion {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.newnessOccasion>div> {
    width: 25%;
}

.newnessOccasion>div>img {
    height: 240px;
}

.influencerExclusiveStyle {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.influencerExclusiveStyle>div>img {
    height: 160px;
}

.budgetInfluencerLove {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.budgetInfluencerLove>div>img {
    height: 223px;
}

.trendingInfluencerOutfit {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 3%;
}

.trendingInfluencerOutfit>div>img {
    height: 221px;
}

#footer {
    color: #fafbfc;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

#footer>div:nth-child(1) {
    color: #fafbfc;
    width: 80%;
    margin-top: 3%;
    display: flex;
}

.onlineShopping {
    width: 15%;
    color: black;
}

.customerpolicy {
    width: 15%;
}

.experianceMyntraMobile {
    width: 35%;
}

.originalLogo {
    width: 25%;
}

.footerHeading{
    color: #282c3f;
    margin-bottom: 7%;
    font-size: 11px;
}

.footerHeadingTouch{
    color: #282c3f;
    margin-bottom: 7%;
    font-size: 11px;
    margin-top: 8%;
}

.footerText{
    color: #696e79;
    margin-bottom: 2%;
    font-size: 13px;
}

.footerSubHeading{
    color: #282c3f;
    margin-bottom: 7%;
    margin-top: 8%;
    font-size: 11px;
}

.appDownloadImage{
    width: 100%;
    display: flex;
}
.appDownloadImage>div:nth-child(1){
    width: 50%;
}

.appDownloadImage>div:nth-child(2){
    width: 50%;
}

.androidLink{
    width: 82%;
}

.iosLink{
    width: 71%;
}

.socialMediaLogo{
    width: 100%;
    display: flex;
}

.socialMediaLogo>div{
    width: 10%;
}

.socialMediaLogo>div>img{
    width: 60%;
}

.originalLogo{
    width: 25%;
}

.originalLogo>div{
    display: flex;
    justify-content: space-around;
}

.originalLogo>div>div:nth-child(1){
    width: 15%;
}

.originalLogo>div>div:nth-child(2){
    width: 75%;
    margin-bottom: 10%;
}

.originalLogo>div>div:nth-child(2)>p{
    color: black;
    font-size: 14px;
}

.horizontalLine{
    margin-top: 10%;
    border: 1px solid gray;
}


@media screen and (max-width: 414px) {

    .rightHeader {
        display: none;
    }

    .menubar {
        width: 75%;
        height: 100%;
    }

    .imageSizeView {
        padding-top: 12%;
        padding-left: 0%;
    }

    .logoImage {
        width: 25%;
        height: 100%;
    }

    .leftHeader {
        width: 100%;
        height: 100%;
        display: flex;
    }

    .menubar {
        padding-top: 3%;
    }

    .menubar>div:nth-child(5) {
        display: none;
    }

    .menubar>div:nth-child(6) {
        display: none;
    }

    .headingStyling {
        letter-spacing: 3px;
        margin-top: 10%;
        margin-bottom: 10%;
        margin-left: 7%;
        font-size: 28px;
        color: #424656;
    }

    .topBrandsHeading {
        letter-spacing: 3px;
        margin-top: 10%;
        margin-bottom: 10%;
        margin-left: 7%;
        font-size: 26px;
        color: #424656;
    }

    .imageFlex {
        width: 100%;
        display: flex;
    }

    .imageFlex>div>img {
        height: 75px;
    }

    .myntraExclusiveBrands {
        width: 100%;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .myntraExclusiveBrands>div {
        width: 12%;
    }

    .myntraExclusiveBrands>div>img {
        height: 63px;
    }

    .topPicks {
        width: 100%;
        display: flex;
    }

    .topPicks>div>img {
        height: 70px;
    }


    .categoryBag {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        color: #f6f6f6;
    }

    .categoryBag>div>img {
        height: 62px;
    }

    .topBrandsDeal {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }

    .topBrandsDeal>div>img {
        height: 81px;
    }


    .slashedPrices {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }

    .slashedPrices>div>img {
        height: 66px;
    }

    .bestBuys {
        width: 100%;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .bestBuys>div {
        width: 12%;
    }

    .bestBuys>div>img {
        height: 60px;
    }

    .myntraLuxe {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }

    .myntraLuxe>div>img {
        height: 65px;
    }

    .giftCard {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }

    .giftCard>div> {
        width: 25%;
    }

    .giftCard>div>img {
        height: 87px;
    }

    .kidsWear {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }

    .kidsWear>div>img {
        height: 74px;
    }

    .newTopBrand {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }

    .newTopBrand>div>img {
        height: 64px;
    }

    .newnessOccasion {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }

    .newnessOccasion>div> {
        width: 25%;
    }

    .newnessOccasion>div>img {
        height: 71px;
    }

    .influencerExclusiveStyle {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }

    .influencerExclusiveStyle>div>img {
        height: 47px;
    }

    .budgetInfluencerLove {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }

    .budgetInfluencerLove>div>img {
        height: 66px;
    }

    .trendingInfluencerOutfit {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }

    .trendingInfluencerOutfit>div>img {
        height: 65px;
    }

    #footer {
        color: #fafbfc;
        width: 100%;
        display: flex;
        justify-content: space-around;
    }
    
    #footer>div:nth-child(1) {
        color: #fafbfc;
        width: 100%;
        margin-top: 3%;
        display: flex;
        justify-content: space-between;
    }

    .originalLogo{
        display: none;
    }

    .onlineShopping{
        width: 25%;
    }

    .customerpolicy{
        width: 25%;
    }

}